<div class="header_container">
  <div *ngFor="let section of structure.sections">
    <div *ngIf="section.section_id == 0" >
      <div *ngFor="let levelDepth of section.level_depth">
        <div *ngIf="levelDepth.id == 0">
          <div *ngFor="let spell of levelDepth.spells"
               class="spell central_spell"
               style="{{spell.style}}">
            <div class="tooltip">
              <img src="assets/{{spell.image}}" class="image">
              <span class="tooltiptext">{{spell.description}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wheel_container">
  <div class="circle main-c">
    <div *ngFor="let section of structure.sections">
      <div *ngIf="section.section_id == 0" >
        <div class="circle central-c">
          <div *ngFor="let levelDepth of section.level_depth">
            <div *ngIf="levelDepth.id == 1">
              <div *ngFor="let spell of levelDepth.spells"
                   class="spell central_spell"
                   style="{{spell.style}}">
                <div class="tooltip">
                  <img src="assets/{{spell.image}}" class="image">
                  <span class="tooltiptext">{{spell.description}}</span>
                </div>
              </div>
            </div>
            <div *ngIf="levelDepth.id == 2">
              <div *ngFor="let spell of levelDepth.spells"
                   class="spell central_spell"
                   style="{{spell.style}}">
                <div class="tooltip">
                  <img src="assets/{{spell.image}}" class="image">
                  <span class="tooltiptext">{{spell.description}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="section.section_id > 0">
        <div *ngFor="let levelDepth of section.level_depth">
          <div *ngIf="levelDepth.id == 0">
            <div *ngFor="let spell of levelDepth.spells"
                 class="spell outside_spell"
                 style="{{spell.style}}">
              <div class="tooltip">
                <img src="assets/{{spell.image}}" class="image">
                <span class="tooltiptext">{{spell.description}}</span>
              </div>
            </div>
          </div>

          <div class="circle second-c" *ngIf="levelDepth.id == 1">
            <div *ngFor="let spell of levelDepth.spells">
              <div *ngIf="levelDepth.count == 3">
                <div class="spell spell_first_circle_three"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img src="assets/{{spell.image}}" class="image">
                    <span class="tooltiptext">{{spell.description}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 4">
                <div class="spell spell_first_circle_four"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img src="assets/{{spell.image}}" class="image">
                    <span class="tooltiptext">{{spell.description}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 5">
                <div class="spell spell_first_circle_five"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img src="assets/{{spell.image}}" class="image">
                    <span class="tooltiptext">{{spell.description}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="circle third-c" *ngIf="levelDepth.id == 2">
            <div *ngFor="let spell of levelDepth.spells">
              <div *ngIf="levelDepth.count == 1">
                <div class="spell spell_second_circle_first"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img src="assets/{{spell.image}}" class="image">
                    <span class="tooltiptext">{{spell.description}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 2" >
                <div class="spell spell_second_circle_two"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img src="assets/{{spell.image}}" class="image">
                    <span class="tooltiptext">{{spell.description}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 3" >
                <div class="spell spell_first_circle_three"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img src="assets/{{spell.image}}" class="image">
                    <span class="tooltiptext">{{spell.description}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 4">
                <div class="spell spell_first_circle_four"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img src="assets/{{spell.image}}" class="image">
                    <span class="tooltiptext">{{spell.description}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 5">
                <div class="spell spell_first_circle_five"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img src="assets/{{spell.image}}" class="image">
                    <span class="tooltiptext">{{spell.description}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="circle fourth-c" *ngIf="levelDepth.id == 3">
            <div *ngFor="let spell of levelDepth.spells">
              <div *ngIf="levelDepth.count == 1" >
                <div class="spell spell_second_circle_first"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img src="assets/{{spell.image}}" class="image">
                    <span class="tooltiptext">{{spell.description}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 2" >
                <div class="spell spell_second_circle_two"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img src="assets/{{spell.image}}" class="image">
                    <span class="tooltiptext">{{spell.description}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 3" >
                <div class="spell spell_first_circle_three"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img src="assets/{{spell.image}}" class="image">
                    <span class="tooltiptext">{{spell.description}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 4">
                <div class="spell spell_first_circle_four"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img src="assets/{{spell.image}}" class="image">
                    <span class="tooltiptext">{{spell.description}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 5">
                <div class="spell spell_first_circle_five"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img src="assets/{{spell.image}}" class="image">
                    <span class="tooltiptext">{{spell.description}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="circle circle_color color-c">
        <ul>
          <li *ngFor="let _ of [].constructor(12)">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
