<!--suppress ALL-->
<!--<button (click)="reset()">RESET</button>-->
<!--<button ngModel="countSpells">Количество спеллов {{countSpells}}</button>-->

<div *ngIf="adminMode">
  <label for="file">Choose File</label>
  <input type="file"
         id="file"
         (change)="upload($event)">
</div>

<div class="container">
  <div class="header_container">
    <div class="dropdown">
      <button class="dropbtn">{{selectedRace.name}}</button>
      <div id="myDropdown" class="dropdown-content">
        <button *ngFor="let x of races" class="dropdown-button" (click)="createWheel(x)">{{x.name}}</button>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">{{selectedHero.name}}</button>
      <div id="myDropdown" class="dropdown-content">
          <button *ngFor="let h of heroArByRace" class="dropdown-button" (click)="setupHeroesSpells(h)">
            <img src="assets/{{h.Image}}" class="dropdown-image" *ngIf="!isDefaultHero(h)">
            <div class="dropdown-button-option-text">{{h.Name}}</div>
            <div class="tooltiptext dropdown-button-right" *ngIf="!isDefaultHero(h)">
              <img src="assets/{{h.Image}}" class="dropdown-tooltip-image"><br>
              <span class="tooltip_name">{{h.Name}}</span><br>
              {{h.Description}}
            </div>
          </button>
      </div>
    </div>

    <div *ngFor="let spell of structure.sections[0].level_depth[0].spells"
         class="header_spell"
         id="{{spell.spell_id}}"
         style="{{spell.style}}">
      <div class="tooltip" *ngIf="spellHasName(spell)">
        <img src="assets/{{spell.image}}" class="image">
        <div class="tooltiptext tooltip-bottom"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
      </div>
    </div>

    <div ngModel="countSpells" class="header_text">{{countSpells}}</div>
  </div>
  <div class="wheel_container">
    <div class="circle main-c">
      <div *ngFor="let section of filterSection(); let index = index;trackBy:trackById;" style="z-index: 1">
        <div *ngFor="let levelDepth of section.level_depth">
          <div *ngIf="levelDepth.id == 0">
            <div *ngFor="let spell of levelDepth.spells"
                 id="{{spell.spell_id}}"
                 (mouseenter)="isSpellPreSelected(spell)"
                 (mouseleave)="clearSpellPreSelected(spell)"
                 class="spell outside_spell"
                 [hidden]="isSpellHide(spell)"
                 [class.selected]="isSpellSelected(spell)"
                 (click)="clickOutsideSpell(spell, levelDepth.spells)"
                 style="{{spell.style}}">
              <div class="tooltip" *ngIf="spellHasName(spell)">
                <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
              </div>
            </div>
          </div>
          <div class="circle second-c" *ngIf="levelDepth.id == 1">
            <div *ngFor="let spell of levelDepth.spells">
              <div *ngIf="levelDepth.count == 3">
                <div class="spell spell_first_circle_three" *ngIf="spellHasName(spell)"
                     id="{{spell.spell_id}}"
                     (mouseenter)="isSpellPreSelected(spell)"
                     (mouseleave)="clearSpellPreSelected(spell)"
                     [hidden]="isSpellHide(spell)"
                     [class.selected]="isSpellSelected(spell)"
                     (click)="clickInsideSpell(spell, section)"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                    <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 4">
                <div class="spell spell_first_circle_four" *ngIf="spellHasName(spell)"
                     id="{{spell.spell_id}}"
                     (mouseenter)="isSpellPreSelected(spell)"
                     (mouseleave)="clearSpellPreSelected(spell)"
                     [hidden]="isSpellHide(spell)"
                     [class.selected]="isSpellSelected(spell)"
                     (click)="clickInsideSpell(spell, section)"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                    <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 5">
                <div class="spell spell_first_circle_five" *ngIf="spellHasName(spell)"
                     id="{{spell.spell_id}}"
                     (mouseenter)="isSpellPreSelected(spell)"
                     (mouseleave)="clearSpellPreSelected(spell)"
                     [hidden]="isSpellHide(spell)"
                     [class.selected]="isSpellSelected(spell)"
                     (click)="clickInsideSpell(spell, section)"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                    <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="circle third-c" *ngIf="levelDepth.id == 2 && section.section_id != 0">
            <div *ngFor="let spell of levelDepth.spells">
              <div *ngIf="levelDepth.count == 1">
                <div class="spell spell_second_circle_first" *ngIf="spellHasName(spell)"
                     id="{{spell.spell_id}}"
                     (mouseenter)="isSpellPreSelected(spell)"
                     (mouseleave)="clearSpellPreSelected(spell)"
                     [class.preselected]=""
                     [hidden]="isSpellHide(spell)"
                     [class.selected]="isSpellSelected(spell)"
                     (click)="clickInsideSpell(spell, section)"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                    <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 2" >
                <div class="spell spell_second_circle_two" *ngIf="spellHasName(spell)"
                     id="{{spell.spell_id}}"
                     (mouseenter)="isSpellPreSelected(spell)"
                     (mouseleave)="clearSpellPreSelected(spell)"
                     [hidden]="isSpellHide(spell)"
                     [class.selected]="isSpellSelected(spell)"
                     (click)="clickInsideSpell(spell, section)"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                    <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 3" >
                <div class="spell spell_first_circle_three" *ngIf="spellHasName(spell)"
                     id="{{spell.spell_id}}"
                     (mouseenter)="isSpellPreSelected(spell)"
                     (mouseleave)="clearSpellPreSelected(spell)"
                     [hidden]="isSpellHide(spell)"
                     [class.selected]="isSpellSelected(spell)"
                     (click)="clickInsideSpell(spell, section)"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                    <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 4">
                <div class="spell spell_first_circle_four" *ngIf="spellHasName(spell)"
                     id="{{spell.spell_id}}"
                     (mouseenter)="isSpellPreSelected(spell)"
                     (mouseleave)="clearSpellPreSelected(spell)"
                     [hidden]="isSpellHide(spell)"
                     [class.selected]="isSpellSelected(spell)"
                     (click)="clickInsideSpell(spell, section)"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                    <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 5">
                <div class="spell spell_first_circle_five" *ngIf="spellHasName(spell)"
                     id="{{spell.spell_id}}"
                     (mouseenter)="isSpellPreSelected(spell)"
                     (mouseleave)="clearSpellPreSelected(spell)"
                     [hidden]="isSpellHide(spell)"
                     [class.selected]="isSpellSelected(spell)"
                     (click)="clickInsideSpell(spell, section)"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                    <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="circle fourth-c" *ngIf="levelDepth.id == 3 && section.section_id != 0">
            <div *ngFor="let spell of levelDepth.spells">
              <div *ngIf="levelDepth.count == 1" >
                <div class="spell spell_third_circle_one" *ngIf="spellHasName(spell)"
                     id="{{spell.spell_id}}"
                     (mouseenter)="isSpellPreSelected(spell)"
                     (mouseleave)="clearSpellPreSelected(spell)"
                     [hidden]="isSpellHide(spell)"
                     [class.selected]="isSpellSelected(spell)"
                     (click)="clickInsideSpell(spell, section)"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                    <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 2" >
                <div class="spell spell_second_circle_two" *ngIf="spellHasName(spell)"
                     id="{{spell.spell_id}}"
                     (mouseenter)="isSpellPreSelected(spell)"
                     (mouseleave)="clearSpellPreSelected(spell)"
                     [hidden]="isSpellHide(spell)"
                     [class.selected]="isSpellSelected(spell)"
                     (click)="clickInsideSpell(spell, section)"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                    <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 3" >
                <div class="spell spell_first_circle_three" *ngIf="spellHasName(spell)"
                     id="{{spell.spell_id}}"
                     (mouseenter)="isSpellPreSelected(spell)"
                     (mouseleave)="clearSpellPreSelected(spell)"
                     [hidden]="isSpellHide(spell)"
                     [class.selected]="isSpellSelected(spell)"
                     (click)="clickInsideSpell(spell, section)"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                    <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 4">
                <div class="spell spell_first_circle_four" *ngIf="spellHasName(spell)"
                     id="{{spell.spell_id}}"
                     (mouseenter)="isSpellPreSelected(spell)"
                     (mouseleave)="clearSpellPreSelected(spell)"
                     [hidden]="isSpellHide(spell)"
                     [class.selected]="isSpellSelected(spell)"
                     (click)="clickInsideSpell(spell, section)"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                    <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
                  </div>
                </div>
              </div>
              <div *ngIf="levelDepth.count == 5">
                <div class="spell spell_first_circle_five" *ngIf="spellHasName(spell)"
                     id="{{spell.spell_id}}"
                     (mouseenter)="isSpellPreSelected(spell)"
                     (mouseleave)="clearSpellPreSelected(spell)"
                     [hidden]="isSpellHide(spell)"
                     [class.selected]="isSpellSelected(spell)"
                     (click)="clickInsideSpell(spell, section)"
                     style="{{spell.style}}">
                  <div class="tooltip">
                    <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="image">
                    <div class="tooltiptext tooltip-{{getTooltip(section)}}"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="circle central-c">
        <button class="circle central-b" (click)="reset()">
        </button>
        <div *ngFor="let spell of structure.sections[0].level_depth[1].spells"
             class="spell central_spell"
             id="{{spell.spell_id}}"
             (mouseenter)="isSpellPreSelected(spell)"
             (mouseleave)="clearSpellPreSelected(spell)"
             [hidden]="isSpellHide(spell)"
             [class.selected]="isSpellSelected(spell)"
             (click)="clickInsideSpell(spell, structure.sections[0])"
             style="{{spell.style}}">
          <div class="tooltip" *ngIf="spellHasName(spell)">
            <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="central_image">
            <div class="tooltiptext tooltip-bottom"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
          </div>
        </div>
        <div *ngFor="let spell of structure.sections[0].level_depth[2].spells"
             class="spell central_spell"
             id="{{spell.spell_id}}"
             (mouseenter)="isSpellPreSelected(spell)"
             (mouseleave)="clearSpellPreSelected(spell)"
             [hidden]="isSpellHide(spell)"
             [class.selected]="isSpellSelected(spell)"
             (click)="clickInsideSpell(spell, structure.sections[0])"
             style="{{spell.style}}">
          <div class="tooltip" *ngIf="spellHasName(spell)">
            <img [class.not_selected]="isSpellNotSelected(spell)" src="assets/{{spell.image}}" class="central_image">
            <div class="tooltiptext tooltip-bottom"><span class="tooltip_name">{{spell.name}}</span> <br> {{spell.description}}</div>
          </div>
        </div>
      </div>
      <div class="circle circle_color color-c">
        <ul>
          <li *ngFor="let _ of [].constructor(12)">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
