.dropbtn {
  cursor: pointer;
  background-color: #450370;
  border: none;
  color: white;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: #450370;
  color: white;
  width: 200px;
  height: 30px;
  border: 8px double #230b37;
  border-radius: 15px;
  top: 22%;
  left: 2%;
  z-index: 15;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-button {
  background-color: rgba(71, 33, 131, 0.8);
  width: 200px;
  height: 50px;
  color: #fff;
  text-align: center;
}

.dropdown-button:hover {
  background-color: #621ac4;
  cursor: pointer;
}

.dropdown-button:active {
  background-color: #450370;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background: rgb(48 60 171);
}


li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0 100%;
  border-left: 2px solid #131313;
}

li:first-child {
  background: yellow;
  transform: rotate(0deg) skewY(-60deg);
}
li:nth-child(2) {
  background: #ae2978;
  transform: rotate(30deg) skewY(-60deg);
}
li:nth-child(3) {
  background: rgba(217, 78, 74, 0.5);
  transform: rotate(60deg) skewY(-60deg);
}
li:nth-child(4) {
  background: forestgreen;
  transform: rotate(90deg) skewY(-60deg);
}
li:nth-child(5) {
  background: darkblue;
  transform: rotate(120deg) skewY(-60deg);
}
li:nth-child(6) {
  background: darkred;
  transform: rotate(150deg) skewY(-60deg);
}
li:nth-child(7) {
  background: dodgerblue;
  transform: rotate(180deg) skewY(-60deg);
}
li:nth-child(8) {
  background:  #ffea46;
  transform: rotate(210deg) skewY(-60deg);
}
li:nth-child(9) {
  background: #4d9d37;
  transform: rotate(240deg) skewY(-60deg);
}
li:nth-child(10) {
  background: sandybrown;
  transform: rotate(270deg) skewY(-60deg);
}
li:nth-child(11) {
  background: gainsboro;
  transform: rotate(300deg) skewY(-60deg);
}
li:nth-child(12) {
  background: coral;
  transform: rotate(330deg) skewY(-60deg);
}

.dropdown-button .tooltiptext {
  visibility: hidden;
  width: 280px;
  height: fit-content;
  background-color: rgba(71, 33, 131, 0.8);
  border: 8px double #230b37;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 0 10px 10px;
  position: absolute;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.dropdown-button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.dropdown-button .tooltiptext .tooltip_name {
  margin: 10px;
  font-size: 20px;
  display: inline-block;
}

.dropdown-button-right{
  margin-top: -17%;
  left: 100%;
}

.dropdown-image{
  height: 10%;
  margin: -7% 5%;
  position: absolute;
  left: 0;
}

.dropdown-tooltip-image{
  height: 80%;
}

.dropdown-button-option-text {
  display: inline-block;
  text-align: center;
}
