.container {
  width: 790px;
  height: 790px;
  position: absolute;
  margin-left: 30%;
}

.header_container {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #131313;
}

.wheel_container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  background-color: #131313;
}

.circle {
  border-radius: 50%;
}

p {
  position: absolute;
  left: -100%;
  width: 200%;
  text-align: center;
  padding-top: 20px;
}

.main-c {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.main-b {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.second-c {
  height: 83%;
  width: 83%;
  left: 8.5%;
  top: 8.5%;
  position: absolute;
  background-color: whitesmoke;
  box-shadow: 0 0 3px rgba(48, 60, 171, 0.5);
}

.third-c {
  height: 68%;
  width: 68%;
  left: 16%;
  top: 16%;
  position: absolute;
  background-color: #b0acac;
  box-shadow: 0 0 30px rgba(48, 60, 171, 0.5);
}

.fourth-c {
  height: 53%;
  width: 53%;
  left: 23.6%;
  top: 23.6%;
  position: absolute;
  background-color: #485151;
  box-shadow: 0 0 30px rgba(48, 60, 171, 0.5);
}

.central-c {
  height: 36%;
  width: 36%;
  left: 32%;
  top: 32%;
  position: absolute;
  background-color: #131313;
  box-shadow: 0 0 9px rgba(48, 60, 171, 0.5);
  z-index: 9;
}

.central-b {
  height: 100%;
  width: 100%;
  background-color: #131313;
  box-shadow: 0 0 9px rgba(48, 60, 171, 0.5);
  z-index: 5;
}

.spell {
  z-index: 8;
  opacity: 1;
  border-radius: 50%;
  position: absolute;
  cursor: pointer
}

.central_spell {
  height: 6.5%;
  width: 6.5%;
  z-index: 6;
}

.central_image {
  width: 230%;
  -webkit-filter: drop-shadow(2px 2px 2px #d9d2bf);
  filter: drop-shadow(2px 2px 2px #d9d2bf);
}

.not_selected {
  filter: grayscale(100%);
  opacity: 0.6;
}

.required {
  filter: grayscale(100%) drop-shadow(2px 2px 2px darkviolet);
}

.image {
  height: 100%;
  width: 100%;
}

div .spell:hover {
  transform: scale(2);
  z-index: 15;
}

div .spell:hover .tooltip {
  transform: scale(0.5);
  z-index: 15;
}

.outside_spell {
  height: 6.25%;
  width: 6.25%;
  margin: -1px 1px 3px -1px;
}

.tooltip {
  position: absolute;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.spell_first_circle_three {
  height: 6.1%;
  width: 6.1%;
}

.spell_first_circle_four {
  height: 6.1%;
  width: 6.1%;
}

.spell_first_circle_five {
  height: 4.9%;
  width: 4.9%;
}

.spell_second_circle_first {
  height: 7.1%;
  width: 7.1%;
  margin: 2px;
}

.spell_second_circle_two {
  height: 8.1%;
  width: 8.1%;
  margin: 3px;
}

.spell_third_circle_one {
  /*to do*/
  height: 8.1%;
  width: 8.1%;
  margin: 3px;
}

.spell_internal {
  height: 10%;
  width: 10%;
}

.circle_color {
  opacity: 0.4;
  list-style: none;
  overflow: hidden;
}

.color-c {
  height: 83%;
  width: 83%;
  left: 8.5%;
  top: 8.5%;
  box-shadow: 0 0 90px darkviolet;
  position: absolute;
}

li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0 100%;
  border-left: 2px solid #131313;
}

li:first-child {
  background: yellow;
  transform: rotate(0deg) skewY(-60deg);
}
li:nth-child(2) {
  background: #ae2978;
  transform: rotate(30deg) skewY(-60deg);
}
li:nth-child(3) {
  background: rgba(217, 78, 74, 0.5);
  transform: rotate(60deg) skewY(-60deg);
}
li:nth-child(4) {
  background: forestgreen;
  transform: rotate(90deg) skewY(-60deg);
}
li:nth-child(5) {
  background: darkblue;
  transform: rotate(120deg) skewY(-60deg);
}
li:nth-child(6) {
  background: darkred;
  transform: rotate(150deg) skewY(-60deg);
}
li:nth-child(7) {
  background: dodgerblue;
  transform: rotate(180deg) skewY(-60deg);
}
li:nth-child(8) {
  background:  #ffea46;
  transform: rotate(210deg) skewY(-60deg);
}
li:nth-child(9) {
  background: #4d9d37;
  transform: rotate(240deg) skewY(-60deg);
}
li:nth-child(10) {
  background: sandybrown;
  transform: rotate(270deg) skewY(-60deg);
}
li:nth-child(11) {
  background: gainsboro;
  transform: rotate(300deg) skewY(-60deg);
}
li:nth-child(12) {
  background: coral;
  transform: rotate(330deg) skewY(-60deg);
}
